<section class="hero paddingHelper section" id="home">
  <div class="hero--container">
    <div class="hero--content">
      <h1>Hola soy, <br />{{ nombre }}</h1>
      <p>
        {{ desc }}
      </p>
    </div>
    <div class="hero--image">
      <img
        src="../../../assets/image/avatar/avatar.png"
        alt="Fotografiá de Jeremy, joven de cabello castaño y tez blanca, de aproximadamente 28 años"
      />
    </div>

    <div class="hero--social">
      <a href="#">
        <i class="fa fa-github"></i>
      </a>
      <a href="#">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter-square"></i>
      </a>
      <a href="#">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</section>
<!-- Fin Sección del hero  -->
